.details{
    /* padding:5% 0; */
    /* background-color: aqua; */
    width: 60%;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.footer-detail{
    /* background-color: azure; */
    width: 150px;
}
.details .footer-detail h1,p{
    padding: 5% 0;
}
.footer-detail h1{
    font-size: 20px;
}
.footer-detail p{
    font-size: 15px;
}
/* .footer-detail p::before{
    content: '';
    position: absolute;
    background-color: rgb(68, 113, 248);
    height: 3px;
    width: 100%;
    border-radius: 50px;
    left: 0;
    bottom: -8px;
    transform: scale(0);
    transition: all 0.5s ease;
} */
.footer-detail p:hover{
    text-decoration: underline;
    color: rgb(68, 113, 248);
}
