*{
    margin: 0;
    padding: 0;
}
.end-footer{
    background-color: aqua;
    width: 100%;
    /* height: 1vw; */
}
.policy{
    background-color: bisque;
    width: 20%;
    color: aliceblue;
    height: 100%;

}