@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
.media{
    width: 40%;
    height: 100%;
    
}
.contact-1{
    margin-top: 2%;
    width: 60%;
    height: 55%;
}
.contact-1 h1{
    font-size: 20px;
}
.contact-1 p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 10;
}
.contact-2{
    background-color: aquamarine;
    margin-top: 7%;
    width: 30vw;
    height: 6.5vw;
    display: flex;
    justify-content: space-evenly;
}
.contact-2 div{
    /* padding-right: 5%; */
   width: 15%;
    height: 70%;
    background-color: rgba(78, 78, 100, 0.356);
    border-radius: 50%;
}
.contact-2 div:hover{
    background-color: rgb(68, 113, 248);
}
